ul.sd-calendar-list li{
  list-style:none;
}
span.sd-date-text{
  font-size:14pt;
  font-weight:bolder;
}
span.sd-date-event-time{
  font-size:12pt;
}
span.sd-date-event-time:after{
  content:" - ";
}
span.sd-date-event-title{
  font-weight:bold;
}
